function Alien.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
not
pop this 2
push pointer 0
call Alien.draw 1
pop temp 0
push pointer 0
return
function Alien.getX 0
push argument 0
pop pointer 0
push this 0
return
function Alien.getY 0
push argument 0
pop pointer 0
push this 1
return
function Alien.drawLost 1
push argument 0
pop pointer 0
push constant 16384
push constant 100
add
push constant 100
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 5904
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5392
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 5392
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 5392
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 5392
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30576
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.move 0
push argument 0
pop pointer 0
push this 0
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Alien.erase 1
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
call Alien.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call Alien.erase 1
pop temp 0
push constant 0
pop this 0
push this 1
push constant 10
add
pop this 1
push pointer 0
call Alien.draw 1
pop temp 0
push this 1
push constant 230
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Alien.drawLost 1
pop temp 0
call Sys.Halt 0
pop temp 0
label IF_FALSE1
label IF_END0
push constant 0
return
function Alien.kill 0
push argument 0
pop pointer 0
push constant 0
pop this 2
push pointer 0
call Alien.erase 1
pop temp 0
push constant 0
return
function Alien.getStatus 0
push argument 0
pop pointer 0
push this 2
return
function Alien.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1280
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4033
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32739
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 20479
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 176
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 144
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 432
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.erase 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Alien.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
